.home-content-box {
	margin: 40px;
}

.register-form-box {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border: 1px solid grey;
	padding: 5px;
}

.add-mar {
	margin-right: 2px;
}