{% extends 'home.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
	<div class="blog-form-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-7">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th scope="col">Title</th>
								<th scope="col">Content</th>
								<th scope="col">Image</th>
							</tr>
						</thead>
						<tbody>
							{% for post in posts %}
								{% if post.user_id != user.id %}
									<tr onclick="getPostData({{ post.id }})">
										<td>{{ post.title }}</td>
										<td>{{ post.content }}</td>
										<td><img src="images/posts/{{ post.image }}" width="40px" height="40px"></td>
									</tr>
								{% endif %}	
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="col-md-5">
					
					<form method="POST" action="#" id="blog-form">
						<div class="form-group">
							<label for="title">Post Title:</label>
							<input type="text" value="" id="title" class="form-control" autocomplete="off" readonly>
						</div>
						<div class="form-group">
							<label for="content">Post Content:</label>
							<textarea rows="5" class="form-control" id="content" readonly></textarea>
						</div>
						<div class="form-group">
							<label for="author">Post Author:</label>
							<input type="text" id="author" value="" class="form-control" autocomplete="off" readonly>
						</div>
						<div class="form-group">
							<label for="post-image">Post Image:</label>
							<img src="" width="100%" class="img-fluid" id="post-image">
						</div>
					</form>

					<hr>

					<form method="POST" action="/comment" id="comment-form">
						<div class="form-group">
							<label for="comment">Comment:</label>
							<input type="text" name="comment" id="comment" class="form-control" autocomplete="off">
							<small class="text-muted form-text" id="comment-help">Your comment</small>
						</div>
						<button type="button" id="comment-button" class="btn btn-primary btn-sm">ADD COMMENT</button>
						<input type="hidden" name="postID" value="" id="post-id">
						<input type="hidden" name="userID" value="" id="user-id">
					</form>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="js/blog.js"></script>
{% endblock %}