{% extends 'home.twig' %}

{% block title %}Password{% endblock %}

{% block content %}
	<div class="register-form-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<form method="POST" action="/password" id="password-form">
						
						<div class="form-group">
							<label for="passwordOld"><i class="fa fa-key fa-lg add-mar"></i>Old Password:</label>
							<div class="input-group">
								<input type="password" name="passwordOld" id="passwordOld" class="form-control {% if errorMessage %} wrong-password {% endif %}" placeholder="Old Password..." minlength="5" maxlength="20">
								<div class="input-group-addon add-style-hide-show">
        							<i class="fa fa-eye-slash fa-lg" aria-hidden="true" id="hide-show-el"></i>
      							</div>
							</div>
							<small id="password-help-old" class="form-text text-muted">
								{% if errorMessage %}
									<font color="red">{{ errorMessage }}</font>
								{% else %}
									Enter your old password.
								{% endif %}
							</small>
						</div>

						<div class="form-group">
							<label for="passwordNew"><i class="fa fa-key fa-lg add-mar"></i>New Password:</label>
							<div class="input-group">
								<input type="password" name="passwordNew" id="passwordNew" class="form-control" placeholder="New Password..." minlength="5" maxlength="20">
								<div class="input-group-addon add-style-hide-show">
        							<i class="fa fa-eye-slash fa-lg" aria-hidden="true" id="hide-show-el-two"></i>
      							</div>
							</div>
							<small id="password-help-new" class="form-text text-muted">
								{% if successMessage %}
									<font color="green">{{ successMessage }}</font>
								{% else %}
									Enter your new password.
								{% endif %}
							</small>
						</div>

						<input type="submit" value="CHANGE" class="btn btn-primary" id="password-button">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="js/password.js"></script>
{% endblock %}