{% extends 'home.twig' %}

{% block title %}All Posts{% endblock %}

{% block content %}
	<div class="posts-form-box">
		<div class="container-fluid">

			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Content</th>
						<th scope="col">Image</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					{% for post in posts %}
						<tr>
							<td>{{ post.title }}</td>
							<td>{{ post.content }}</td>
							<td><img src="images/posts/{{ post.image }}" width="40px" height="40px"></td>
							<td><a href="#" class="btn btn-primary btn-sm">EDIT</a></td>
							<td><a href="#" class="btn btn-danger btn-sm">DELETE</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}