This is twig example template.

{{ foo }}

<a href="/upload">test</a>

{# <a href="{{ path_for('file.upload') }}">test</a> #}

{{ bazz }} {# Twig global variable #}

{{ function_name() }} {# Custom twig function #}